/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */

/*
 * Japanese 
================================================================================ */

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@font-face {
  font-family: "hakusu-pro";
  src: url("../fonts/jap/hkgyoprokk.ttf") format("truetype");
}


/*
 * Poiret
================================================================================ */
@font-face {
  font-family: 'Poiret One';
  src: url('../fonts/poiret/PoiretOne-Regular.eot');
  src: local('Poiret One'), local('PoiretOne-Regular'),
      url('../fonts/poiret/PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poiret/PoiretOne-Regular.woff2') format('woff2'),
      url('../fonts/poiret/PoiretOne-Regular.woff') format('woff'),
      url('../fonts/poiret/PoiretOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*
 * DIN Pro
================================================================================ */
 /*
@font-face {
  font-family: "DIN_Pro-Black";
  src: url("../fonts/din_pro/DIN_Pro-Black.ttf") format("truetype");
}

@font-face {
  font-family: "DIN_Pro-Black_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Black_Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Bold";
  src: url("../fonts/din_pro/DIN_Pro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DIN_Pro-Bold_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Bold_Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond";
  src: url("../fonts/din_pro/DIN_Pro-Cond.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Black";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Black.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Black_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Black_Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Bold";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Bold_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Bold_Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Extlight";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Extlight.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Extlight_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Extlight_Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Light";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Light.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Light_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Light_Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Medium";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Medium_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Medium_Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Thin";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Thin.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Cond_Thin_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Cond_Thin_Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Extlight";
  src: url("../fonts/din_pro/DIN_Pro-Extlight.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Extlight_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Extlight_Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Italic";
  src: url("../fonts/din_pro/DIN_Pro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Light";
  src: url("../fonts/din_pro/DIN_Pro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Light_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Light_Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Medium";
  src: url("../fonts/din_pro/DIN_Pro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Medium_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Medium_Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Thin";
  src: url("../fonts/din_pro/DIN_Pro-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro-Thin_Italic";
  src: url("../fonts/din_pro/DIN_Pro-Thin_Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN_Pro";
  src: url("../fonts/din_pro/DIN_Pro.ttf") format("truetype");
}
/*
 * Roboto & Raleway & Muli
================================================================================ */
/* @import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap&subset=cyrillic,cyrillic-ext,vietnamese'); */
/* @import url('https://fonts.googleapis.com/css?family=Muli:400,500,700,900|Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,900&display=swap&subset=vietnamese'); */
/* @import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans|Playfair+Display:700,800&display=swap&subset=vietnamese'); */
/* @import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500&family=Open+Sans:wght@300;400;600&family=Playfair+Display:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Muli:wght@300;400;500&family=Open+Sans:wght@300;400;600&family=Playfair+Display:wght@700&display=swap');
/*
 * SVN  Circular
================================================================================ */
/* @font-face {font-family: "Circular Black Italic";src: url("../fonts/circular/SVN-Circular Black Italic.woff2") format("woff2"), url("../fonts/circular/SVN-CircularBlackItalic.woff") format("woff");font-style: normal;font-weight: normal;}
@font-face {font-family: "Circular Black";src: url("../fonts/circular/SVN-Circular Black.woff2") format("woff2"), url("../fonts/circular/SVN-CircularBlack.woff") format("woff");font-style: normal;font-weight: normal;}
@font-face {font-family: "Circular Bold Italic";src: url("../fonts/circular/SVN-Circular Bold Italic.woff2") format("woff2"), url("../fonts/circular/SVN-CircularBoldItalic.woff") format("woff");font-style: normal;font-weight: normal;}
@font-face {font-family: "Circular Bold";src: url("../fonts/circular/SVN-Circular Bold.woff2") format("woff2"), url("../fonts/circular/SVN-CircularBold.woff") format("woff");font-style: normal;font-weight: normal;}
@font-face {font-family: "Circular Book Italic";src: url("../fonts/circular/SVN-Circular Book Italic.woff2") format("woff2"), url("../fonts/circular/SVN-CircularBookItalic.woff") format("woff");font-style: normal;font-weight: normal;}
@font-face {font-family: "Circular Book";src: url("../fonts/circular/SVN-Circular Book.woff2") format("woff2"), url("../fonts/circular/SVN-CircularBook.woff") format("woff");font-style: normal;font-weight: normal;}
@font-face {font-family: "Circular Medium Italic";src: url("../fonts/circular/SVN-Circular Medium Italic.woff2") format("woff2"), url("../fonts/circular/SVN-CircularMediumItalic.woff") format("woff");font-style: normal;font-weight: normal;}
@font-face {font-family: "Circular Medium";src: url("../fonts/circular/SVN-Circular Medium.woff2") format("woff2"), url("../fonts/circular/SVN-CircularMedium.woff") format("woff");font-style: normal;font-weight: normal;} */


/*
 *  Gotham
================================================================================ */
@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/gotham/Gotham-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "gotham-thin";
  src: url("../fonts/gotham/Gotham-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "gotham-ultra";
  src: url("../fonts/gotham/Gotham-Ultra.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

/*
 * helvitica now
================================================================================ */
 
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helveticanow/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
      url('../fonts/helveticanow/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
      url('../fonts/helveticanow/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helveticanow/HelveticaNowDisplay-Light.woff2') format('woff2'),
      url('../fonts/helveticanow/HelveticaNowDisplay-Light.woff') format('woff'),
      url('../fonts/helveticanow/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('HelveticaNowDisplay-Thin.eot');
  src: local('Helvetica Now Display Thin'), local('HelveticaNowDisplay-Thin'),
      url('HelveticaNowDisplay-Thin.eot?#iefix') format('embedded-opentype'),
      url('HelveticaNowDisplay-Thin.woff2') format('woff2'),
      url('HelveticaNowDisplay-Thin.woff') format('woff'),
      url('HelveticaNowDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
/*
@font-face {
  font-family: "HelveticaNowText-Black";
  src: url("../fonts/helveticanow/HelveticaNowText-Black.woff") format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-BlackItalic";
  src: url("../fonts/helveticanow/HelveticaNowText-BlackItalic.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-BlackItalic.woff2")
      format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-Bold";
  src: url("../fonts/helveticanow/HelveticaNowText-Bold.woff") format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-BoldItalic";
  src: url("../fonts/helveticanow/HelveticaNowText-BoldItalic.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-BoldItalic.woff2")
      format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-ExtBdIta";
  src: url("../fonts/helveticanow/HelveticaNowText-ExtBdIta.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-ExtBdIta.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-ExtLtIta";
  src: url("../fonts/helveticanow/HelveticaNowText-ExtLtIta.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-ExtLtIta.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-ExtraBold";
  src: url("../fonts/helveticanow/HelveticaNowText-ExtraBold.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-ExtraBold.woff2")
      format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-ExtraLight";
  src: url("../fonts/helveticanow/HelveticaNowText-ExtraLight.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-ExtraLight.woff2")
      format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-Light";
  src: url("../fonts/helveticanow/HelveticaNowText-Light.woff") format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-LightItalic";
  src: url("../fonts/helveticanow/HelveticaNowText-LightItalic.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-LightItalic.woff2")
      format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-Medium";
  src: url("../fonts/helveticanow/HelveticaNowText-Medium.woff") format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-MediumItalic";
  src: url("../fonts/helveticanow/HelveticaNowText-MediumItalic.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-MediumItalic.woff2")
      format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-RegIta";
  src: url("../fonts/helveticanow/HelveticaNowText-RegIta.woff") format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-RegIta.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-Regular";
  src: url("../fonts/helveticanow/HelveticaNowText-Regular.woff") format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-Thin";
  src: url("../fonts/helveticanow/HelveticaNowText-Thin.woff") format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNowText-ThinItalic";
  src: url("../fonts/helveticanow/HelveticaNowText-ThinItalic.woff")
      format("woff"),
    url("../fonts/helveticanow/HelveticaNowText-ThinItalic.woff2")
      format("woff2");
  font-style: normal;
  font-weight: normal;
} */
